@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, visitor!</h1>

<p>Welcome to my new app! As I'm trying to learn C# I thought it best to create a single app where I can put all my code for viewing.</p>

<p>Feel free to look around!</p>
